<aside class="author">
    {{#if @blog.logo}}
        <img class="profile-image" src="{{@blog.logo}}" title="{{@blog.title}}" alt="Chris Thoburn">
    {{/if}}
    <p class="name"><strong>{{@blog.title}}</strong></p>
    <p class="address">Oakland, CA</p>

    <p>{{@blog.description}}</p>

    <ul class="social">
        <li><a class="icon-strava" href="https://www.strava.com/athletes/runspired/" title="View Chris Thoburn (runspired) on Strava"></a></li>
        <li><a class="icon-instagram" href="https://www.instagram.com/runspired/" title="View Chris Thoburn (runspired) on Instagram"></a></li>
        <li><a class="icon-facebook" href="https://www.facebook.com/runspired/" title="View Chris Thoburn (runspired) on Facebook"></a></li>
        <li><a class="icon-twitter" href="https://www.twitter.com/runspired/" title="View Chris Thoburn (runspired) on Twitter"></a></li>
        <li><a class="icon-linkedin" href="https://www.linkedin.com/in/runspired/" title="View Chris Thoburn (runspired) on LinkedIn"></a></li>
    </ul>
</aside>
